<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alcometer</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Gender</ion-label>
           <ion-select [(ngModel)] = "gender">
            <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Time</ion-label>
          <ion-select [(ngModel)] = "time">
          <ion-select-option *ngFor="let value of times">{{value}}</ion-select-option>
        </ion-select>   
      </ion-item>

      <ion-item>
        <ion-label>Bottles</ion-label>
          <ion-select [(ngModel)] = "bottle">
          <ion-select-option *ngFor="let value of bottles">{{value}}</ion-select-option>
        </ion-select>   
      </ion-item>

      <ion-item>
        <ion-label>Promilles: {{result_f}}</ion-label>
       
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
    </div>
   
</ion-content>


